* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #3a1b3f, #5e2363);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-container {
  background-color: #6f2675;
  color: #fff;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.cadastro-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #db9ee7;
}

.cadastro-container h2 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 1.8rem;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: block;
  color: #f3d9ff;
  font-size: 15px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #db9ee7;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #fff;
  box-shadow: 0 0 5px #fff;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #3a1b3f;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #1e3c72;
}

@media (max-width: 480px) {
  .cadastro-container {
    width: 90%;
    padding: 25px;
  }

  .cadastro-container img {
    width: 90px;
    height: 90px;
  }

  .cadastro-container h2 {
    font-size: 1.5rem;
  }

  label {
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .cadastro-container {
    width: 450px;
    padding: 45px;
  }

  .cadastro-container img {
    width: 130px;
    height: 130px;
  }

  .cadastro-container h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1025px) {
  .cadastro-container {
    width: 480px;
    padding: 50px;
  }

  .cadastro-container img {
    width: 140px;
    height: 140px;
  }

  .cadastro-container h2 {
    font-size: 2rem;
  }
}
